.app{
    margin: 100px auto;
}
td {
    border: solid 1px;  /* 枠線指定 */
    border-color:black;
    background-color: green;
    padding: 0px;      /* 余白指定 */
    width: 70px;
    height: 70px;
}
table {
    margin:0 auto;
    border-collapse:  collapse; /* セルの線を重ねる */
}
.btn{
    display:block;
    width:70px;
    height:70px;
    border-radius:100%;
    border: 0;
}